@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="card text-center mt-5">
    <div class="card-body">
        <p class="card-text">
            It is a long established fact that a reader will be distracted by the readable content of a
            page when looking at its layout. The point of using Lorem Ipsum is that it has a 
            more-or-less normal distribution of letters, as opposed to using 'Content here, content 
            here', making it look like readable English. Many desktop publishing packages and web page
            editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' 
            will uncover many web sites still in their infancy. Various versions have evolved over 
            the years, sometimes by accident, sometimes on purpose!
        </p>
        <hr />
        <br />
        <img src="~/images/product/book-1.png" width="150px" height="150px">
        <img src="~/images/product/book-2.png" width="150px" height="150px">
        <img src="~/images/product/book3.png" width="150px" height="150px">
        <img src="~/images/product/book-4.png" width="150px" height="150px">
        <img src="~/images/product/book5.png" width="150px" height="150px">
        <img src="~/images/product/book-6.png" width="150px" height="150px">
        <img src="~/images/product/book7.png" width="150px" height="150px">
        <a class="btn btn-success mt-5" asp-controller="Product" asp-action="GetAll">
            Shop Now
        </a>
    </div>
</div>