@model ProductDTO

@{
    ViewData["Title"] = "Add New Book";
}

<form method="post" enctype="multipart/form-data"
      asp-controller="Admin" asp-action="Add" autocomplete="off">
    <h3 class="mt-3">Add New Book</h3>
    <br />
    <partial name="~/Views/Shared/Notifications.cshtml" />

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="Name"
               placeholder="name@example.com" asp-for="Name">
        <label for="Name">Name</label>
    </div>

    <div class="form-floating mb-3">
        <input type="number" class="form-control" id="CountOfPages"
               placeholder="name@example.com" asp-for="CountOfPages" min="1">
        <label for="CountOfPages">Count of Pages</label>
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="Price"
               placeholder="name@example.com" asp-for="Price">
        <label for="Price">Price</label>
    </div>

    <div class="form-floating mb-3">
        <label asp-for="Image" class="col-sm-2 col-form-label">Image</label>
        <br /> <br />
        <div class="col-sm-10">
            <div class="custom-file">
                <input asp-for="Image" class="form-control custom-file-input">
            </div>
        </div>
    </div>

    <div class="mb-3">
        <textarea class="form-control" id="About"
                  rows="5" asp-for="About" placeholder="Write about book..."></textarea>
    </div>

    @section Scripts {
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });
            });
        </script>
    }

    <button class="btn btn-primary" type="submit">Submit</button>
</form>