@model UserDTO

@{
    ViewData["Title"] = "Sign In";
}

<partial name="~/Views/Shared/Notifications.cshtml" />

<div class="container py-5 h-auto">
    <div class="row d-flex justify-content-center align-items-center h-100 center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <form method="post">
                        <h3>Sign In</h3>

                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" id="Username"
                                   placeholder="name@example.com" asp-for="Username">
                            <label for="Username">Username</label>
                        </div>

                        <div class="form-floating">
                            <input type="password" class="form-control" id="Password"
                                   placeholder="Password" asp-for="Password">
                            <label for="Password">Password</label>
                        </div>

                        <br />
                        <input class="btn btn-primary" type="submit"
                               asp-controller="Login" asp-action="SignIn" value="Sign In">

                        @*<partial name="~/Views/Shared/Message.cshtml" />*@

                        <br /> <br />
                        <div class="form-outline mb-4">
                            Don't have account?
                            &nbsp;
                            <a class="form-label text-decoration-none" asp-controller="Login"
                               asp-action="SignUp">Sign Up</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>